<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Word of the day</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/main.css') }}">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <h1>{{ word }}</h1>
        <p class="pronounciation">{{ pronounciation|safe }}</p>
        
        {% for key, value in definitions.items() %}
        <p class="wordtype">{{ key }}</p>
        <ol>
            {% for v in value %}
            <li>{{ v }}</li>
            {% endfor %}
        </ol>
        {% endfor %}
        <hr/>
        
        <h2>Quotes</h2>
        {% for quote in quotes %}
        <blockquote>
            <p>{{ quote.quote }}</p>
            <small>&mdash;{{ quote.source }}</small>
        </blockquote>
        {% endfor %}
        
        <h2>Origin</h2>
        <p>{{ origin|safe }}</p>
        <p class="source">source: <a href="http://dictionary.reference.com/wordoftheday">Dictionary.com word of the day</a></p>
    </div>
</body>
</html>
